/.vs
/HeroesApp/.vscode
/HeroesApp/e2e
/HeroesApp/src/tsconfig.spec.json
/HeroesApp/src/tslint.json
/HeroesApp/src/tsconfig.app.json
/HeroesApp/package-lock.json
/HeroesApp/tslint.json
/HeroesApp/tsconfig.json
/HeroesApp/package.json
/HeroesApp/angular.json
/HeroesBackend/.vs/HeroesBackend/v16/TestStore/0
/HeroesBackend/.vs/HeroesBackend/v16/Server/sqlite3
/HeroesBackend/.vs/HeroesBackend/DesignTimeBuild
/HeroesBackend/.vs/HeroesBackend/config
/HeroesBackend/HeroesBackend/bin/Debug/netcoreapp2.2
/HeroesBackend/HeroesBackend/obj
/HeroesBackend/HeroesBackend/Properties
/HeroesBackend/HeroesBackend.BusinessLayer/bin/Debug/netcoreapp2.2
/HeroesBackend/HeroesBackend.BusinessLayer/obj
/HeroesBackend/HeroesBackend.Common
/HeroesBackend/HeroesBackend.Entities/bin/Debug/netcoreapp2.2
/HeroesBackend/HeroesBackend.Entities/obj
/HeroesBackend/HeroesBackend.Repository/bin/Debug/netcoreapp2.2
/HeroesBackend/HeroesBackend.Repository/obj
/HeroesBackend/HeroesBackend.Repository/HeroesBackend.Repository.csproj
/HeroesBackend/HeroesBackend.Test/bin/Debug/netcoreapp2.2
/HeroesBackend/HeroesBackend.Test/obj
/HeroesBackend/HeroesBackendIoc/bin/Debug/netcoreapp2.2
/HeroesBackend/HeroesBackendIoc/obj
/HeroesApp/src/environments
